<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>QR Code Scanner</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="video-container">
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
        <form method="post" action="{{ url_for('scan') }}">
            <button type="submit" class="button">Scan QR Code</button>
        </form>
        {% if user_data %}
        <h2>User Data:</h2>
        <ul>
            {% for key, value in user_data.items() %}
            <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
